@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-gray-200 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-gold;
  }
}

/* Custom Scrollbar for non-hidden areas */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-panel;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gold/50;
}